
# Python
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Model files and datasets
*.pb
*.npy
*.h5
*.tflite
*.keras
*.weights
/runs/
/public/object_detecion_model/RDD2022-3/
/public/object_detecion_model/dashcamera/
calibration_image_sample_data*

# Images and media files
/public/object_detecion_model/**/*.jpg
/public/object_detecion_model/**/*.jpeg
/public/object_detecion_model/**/*.png
/public/object_detecion_model/**/*.webp
/public/object_detecion_model/**/*.gif
/public/object_detecion_model/**/*.pt
# Certificates and sensitive files
*.pem
serviceAccountKey.json

# Large directories
/patchs.v2i.yolov12/
/public/object_detecion_model/public/object_detecion_model/dashcamera.zip
node_modules

# Ignore images and media files everywhere
*.jpg
*.jpeg
*.png
*.webp
*.gif
*.bmp
*.tiff
*.svg
*.mp4
*.mov
*.avi
*.mkv
*.mp3
*.wav
*.ogg

# Exclude all PNGs except icon.png
/public/object_detecion_model/**/*.png
!public/assets/icon.png

# Ignore dataset folders and their contents
public/**/images/
public/**/labels/
public/**/test/
public/**/val/
public/**/train/
public/**/backup/
public/**/legacy/
public/**/runs/
public/**/weights/

# Ignore Jupyter notebooks


# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Remove ignore rules for model and notebook files and icon

