
# Python
__pycache__/
*.py[cod]
*$py.class


# IDE
.idea/
.vscode/
*.swp
*.swo

# Model files and datasets
*.weights
/runs/
/public/object_detecion_model/RDD2022-3/
/public/object_detecion_model/dashcamera/
calibration_image_sample_data*

# Images and media files
/public/object_detecion_model/**/*.jpg
/public/object_detecion_model/**/*.jpeg
/public/object_detecion_model/**/*.png
/public/object_detecion_model/**/*.webp
/public/object_detecion_model/**/*.gif

# Certificates and sensitive files
*.pem
serviceAccountKey.json

# Large directories
/patchs.v2i.yolov12/
/public/object_detecion_model/public/object_detecion_model/dashcamera.zip

# macOS specific files
*.DS_Store
